doctype html
html(lang=en)
  head
    title= flow
    link(rel='stylesheet', href='./css/vendor.css')
    link(rel='stylesheet', href='./css/app.css')
  body
    canvas(id='flowcanvas', height='500', width='500')
    script(type='text/javascript' src='./js/vendor.js')
    script(type='text/javascript' src='./js/app.js')